{{ elementConfigBar|raw }}
<div class="toolbox-element toolbox-gallery {{ pimcore_select('addlCls').getData() }}">
    {% include '@Toolbox/Toolbox/gallery.html.twig' with {'galleryId' : galleryId} %}
</div>