{% set class = 'img-fluid' %}
{% set useLightBox = pimcore_checkbox('use_light_box').isChecked() and editmode == false %}
{% set hasLink = pimcore_link('image_link').isEmpty() == false and editmode == false %}

<div {{ useLightBox ? 'data-uk-lightbox'  : '' }}>
    {% if useLightBox == true %}
        {% include toolbox_area_path(areaId, 'Partial/lightbox') with { 'class' : class } %}
    {% elseif hasLink == true %}
        {% include toolbox_area_path(areaId, 'Partial/single_link') with { 'class' : class } %}
    {% else %}
        {% include toolbox_area_path(areaId, 'Partial/single') with { 'class' : class } %}
    {% endif %}

    {% if pimcore_checkbox('show_caption').isChecked() == true %}
        <span class="caption">{{ pimcore_image('ci').text }}</span>
    {% endif %}
</div>
