<div class="{{ containerClass }}">
    <div class="container-inner">
        {% include '@Toolbox/Helper/areablock.html.twig' with {'name': 'container-block', 'type' : 'container'} %}
    </div>
</div>