{{ elementConfigBar|raw }}
<div class="toolbox-element toolbox-video {{ pimcore_select('addlCls').getData() }} {{ autoPlay ? ' autoplay' : '' }}" data-type="{{ videoType }}">
    {% include '@Toolbox/Toolbox/video.html.twig' %}
</div>