includes:
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    symfony:
        container_xml_path: %currentWorkingDirectory%/var/cache/test/TestKernelTestDebugContainer.xml
        constant_hassers: false
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::end\(\)\.#'
        # Bundle dependency calls we need to ignore:
        - '#Class MembersBundle\\Manager\\RestrictionManager not found\.#'
        - '#Class MembersBundle\\Security\\RestrictionUri not found\.#'
        - '#Class MembersBundle\\Security\\RestrictionQuery not found\.#'
        - '#PHPDoc tag @var for variable \$elementRestriction contains unknown class MembersBundle\\Restriction\\ElementRestriction\.$#'
        - '#Call to method getSection\(\) on an unknown class MembersBundle\\Restriction\\ElementRestriction\.#'
        - '#Access to constant PROTECTED_ASSET_FOLDER(.*)\.#'
        - '#Access to constant RESTRICTION_SECTION_ALLOWED(.*)\.#'
