<?xml version="1.0"?>
<zend-config>
    <plugin>
        <pluginName>Toolbox</pluginName>
        <pluginDescription>Toolbox</pluginDescription>
        <pluginVersion>1.4.1</pluginVersion>
        <pluginRevision>1</pluginRevision>
        <pluginBuildTimestamp>0</pluginBuildTimestamp>
        <pluginClassName>\Toolbox\Plugin</pluginClassName>
        <pluginIncludePaths>
            <path>/Toolbox/lib</path>
            <path>/Toolbox/lib/Pimcore/Model</path>
        </pluginIncludePaths>
        <pluginNamespaces>
            <namespace>Toolbox</namespace>
        </pluginNamespaces>
        <pluginJsPaths-extjs6>
            <path>/plugins/Toolbox/static/js/startup.js</path>
        </pluginJsPaths-extjs6>
        <pluginDocumentEditmodeJsPaths>
            <path>/Toolbox/static/js/document/tags/globallink.js</path>
            <path>/Toolbox/static/js/document/tags/googlemap.js</path>
        </pluginDocumentEditmodeJsPaths>
        <pluginDocumentEditmodeCssPaths>
            <path>/Toolbox/static/css/admin.css</path>
        </pluginDocumentEditmodeCssPaths>
    </plugin>
</zend-config>