{% set lightBoxLink = '' %}
{% if pimcore_image('ci').thumbnail('lightBoxImage') is not empty %}
    {% set lightBoxLink = pimcore_image('ci').thumbnail('lightBoxImage') %}
{% endif %}

{% if editmode %}
    {{ pimcore_image('ci') }}
{% else %}
    <a href="{{ lightBoxLink }}" class="item">
        {% include '@Toolbox/Toolbox/Bootstrap3/Image/Partial/single.html.twig' with { 'class' : 'img-responsive '  ~ class } %}
    </a>
{% endif %}