{{ elementConfigBar|raw }}
<div class="toolbox-element toolbox-container {{ pimcore_select('addlCls').getData() }}">
    {% include '@Toolbox/Toolbox/container.html.twig' with { 'containerClass' : pimcore_checkbox('fullWidthContainer').isChecked() ? 'container-fluid' : 'container' } %}
</div>