{{ elementConfigBar|raw }}
{# @fixme: linklistAdditionalClasses is now linkListAdditionalClasses? add update note #}
<div class="toolbox-element toolbox-linklist {{ pimcore_select('linklistAdditionalClasses').getData() }}">
    {% include '@Toolbox/Toolbox/linkList.html.twig' %}
</div>