services:
    ToolboxBundle\Document\Areabrick\SlideColumns\SlideColumns:
        parent: ToolboxBundle\Document\Areabrick\AbstractAreabrick
        autowire: true
        tags:
            - { name: toolbox.area.brick, id: slideColumns }
toolbox:
    areas:
        slideColumns:
            config_elements:
                slides_per_view:
                    type: select
                    title: 'Slides per View'
                    config:
                        store:
                            '2': '2 Columns'
                            '3': '3 Columns'
                            '4': '4 Columns'
                            '6': '6 Columns'
                        default: '4'
                equal_height:
                    type: checkbox
                    title: 'Equal heights?'
                    config: ~
                additional_classes:
                    type: additionalClasses
                    config:
                        store: ~
            config_parameter:
                column_classes:
                    '2': 'col-12 col-sm-6'
                breakpoints: []