{% import '@Toolbox/Macro/wrap.html.twig' as wrap_macro %}
<div class="toolbox-element toolbox-snippet">
    {{ wrap_macro.createWrapHead(elementThemeConfig) }}
    {{ pimcore_snippet('snippet') }}
    {{ wrap_macro.createWrapFoot(elementThemeConfig) }}
</div>