<div class="toolbox-google-map-container">
    {{ pimcore_googlemap('googlemap', {
        'reload' : true,
        'mapZoom' : mapZoom,
        'mapType' : mapType,
        'iwOnInit' : iwOnInit,
    }) }}
</div>
