.pimcore_area_entry .pimcore_area_edit_button, .pimcore_tag_area .pimcore_area_edit_button {
    top: -25px !important;
}
.pimcore_tag_button .pimcore_edit_link_button {
    width: auto !important;
}

.toolbox-image {
    min-height:100px;
}

.toolbox-teaser {

}

/* trim bootstrap in backend */
.alert {
    padding:5px 10px;
}

/* set list to default */
ul li.x-boundlist-item {
    list-style: inherit;
    background: inherit;
    padding: inherit;
    margin: inherit;
    line-height: inherit;
}
ul li.x-boundlist-item:hover {
    color:inherit;
}
ul li.x-boundlist-selected {
    color: #fff;
    background: #3c3f41;
    border-color: #3c3f41;
}

/* only in single edit mode*/
body > .single-teaser {
    max-width: 250px;
}

body > .single-teaser img {
    max-width: 100%;
}

/* Override theme tridon stuff */
.x-panel-body-default {
    font-family:inherit;
}