{% if editmode %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head></head>
    <body>
{% endif %}
    {% block snippet_content %}
    {% endblock snippet_content %}
{% if editmode %}
    </body>
</html>
{% endif %}
