<div class="player" data-poster-path="{{ posterPath }}" data-play-in-lightbox="{{ playInLightbox }}" data-video-uri="{{ videoId }}"></div>
{% if posterPath is not empty %}
    {% include '@Toolbox/Toolbox/Bootstrap3/Video/Partial/overlay.html.twig' with {'posterPath' : posterPath, 'playInLightbox' : playInLightbox} %}
{% endif %}