{% if editmode %}

    {{ pimcore_vhs('video', {
        'attributes' : {
            'class' : 'video-js vjs-default-skin vjs-big-play-centered',
            'data-setup' : '{}'
        },
        'thumbnail' : 'content',
        'disableProgressReload' : true,
        'height' : 250

    }) }}

{% else %}

    <div class="video-inner">
        {% include toolbox_area_path(areaId, 'type-' ~ videoType) %}
    </div>

{% endif %}