<div class="row">

    <div class="col-xs-12 col-gallery">

        {% include '@Toolbox/Toolbox/Gallery/gallery.html.twig' with
        {
        'editmode' : editmode,
        'images' : images,
        'galleryId' : galleryId,
        'useThumbnails' : pimcore_checkbox('useThumbnails').isChecked(),
        'useLightbox' : pimcore_checkbox('useLightbox').isChecked()
        } %}

    </div>

</div>