<div class="uk-cover uk-background-cover uk-width-1-1 uk-height-1-1" data-uk-toggle="animation: uk-animation-fade" style="background-image:url('{{ posterPath  }}');">
    <span class="uk-position-center" data-uk-icon="icon: play; ratio: 5"></span>
</div>