/**

    Toolbox Headline

**/
.toolbox-headline {
    display: block !important;
}

/**

    Toolbox Anchor

**/
.toolbox-anchor {
    display: block !important;
}

/**

    Toolbox Columns

**/
.toolbox-columns .toolbox-column {
    background: rgba(242, 242, 242, 0.5);
    border: 1px dashed #d6d6d6;
    padding: 10px;
}

/**

    Toolbox Columns Adjuster

**/
.toolbox_column_adjuster {
    background: url(/pimcore/static6/img/flat-color-icons/grid.svg) left center no-repeat !important;
}

.grid-preview {
    width: 100%;
    background: #bfd7d8;
    padding: 5px 5px 0 5px;
    overflow: hidden;
}

.grid-preview:before {
    content: "preview";
    position: absolute;
    left: 10px;
    color: white;
    opacity: .5;
    text-transform: uppercase;
    font-size: 14px;
    top: 5px;
}

.grid-preview .grid-pre-row {
    margin-left: -10px;
    margin-right: -10px;
    overflow: hidden;
}

.grid-preview .grid-pre-row:before {
    content: " ";
    display: table;
}

.grid-preview .grid-pre-row .grid-pre-element {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    margin-bottom:5px;
    position: relative;
}

.grid-preview .grid-pre-row .grid-pre-element:before {
    position: absolute;
    content: "";
    border: 1px dashed #707a82;
    background: rgba(255,255,255, .3);
    left: 10px;
    right: 10px;
    top: 0;
    bottom: 0;
}

.grid-preview .grid-pre-row .grid-pre-element.inherited:before {
    border: 1px dashed white;
}

.grid-preview .grid-pre-row .grid-pre-element.is-offset:before {
    border: none;
    background: rgba(158, 182, 183, 0.6);
}

.grid-preview .grid-pre-row .grid-pre-element.is-offset.pre-col-0 {
    display: none;
}

.grid-preview .grid-pre-row .pre-col-1 {
    width: 8.333333333333333%;
}

.grid-preview .grid-pre-row .pre-col-2 {
    width: 16.6666666667%;
}

.grid-preview .grid-pre-row .pre-col-3 {
    width: 25%;
}

.grid-preview .grid-pre-row .pre-col-4 {
    width: 33.3333333333%;
}

.grid-preview .grid-pre-row .pre-col-5 {
    width: 41.6666666667%;
}

.grid-preview .grid-pre-row .pre-col-6 {
    width: 50%;
}

.grid-preview .grid-pre-row .pre-col-7 {
    width: 58.3333333333%;
}

.grid-preview .grid-pre-row .pre-col-8 {
    width: 66.6666666667%;
}

.grid-preview .grid-pre-row .pre-col-9 {
    width: 75%;
}

.grid-preview .grid-pre-row .pre-col-10 {
    width: 83.3333333333%;
}

.grid-preview .grid-pre-row .pre-col-11 {
    width: 91.6666666667%;
}

.grid-preview .grid-pre-row .pre-col-12 {
    width: 100%;
}

/**

    Toolbox Container

**/
.toolbox-container {
    background: rgba(242, 242, 242, 0.5);
    border: 1px dashed #d6d6d6;
    padding: 2px;
}

/**

    Toolbox Slide Columns

**/
.toolbox-slide-columns {
    width: 100%;
}

.toolbox-slide-columns > .row > .slide-columns {
    width: 100%;
}

.toolbox-slide-columns > .row > .slide-columns .slide-column {
    min-height: 200px;
    background: #fafafa;
    padding: 10px;
}

.toolbox-slide-columns > .row > .slide-columns .pimcore_tag_block:not(.slick-initialized) {
    overflow: hidden;
}

.toolbox-slide-columns > .row > .slide-columns .pimcore_block_entry {

}

/** override bootstrap columns */
.toolbox-slide-columns > .row > .slide-columns .column {
    width: 100% !important;
    max-width: 100% !important;
}

.toolbox-slide-columns > .row > .slide-columns .column .count {
    position: absolute;
    top: -30px;
    right: 20px;
    font-size: 12px;
    color: #808080;
}

.toolbox-slide-columns > .row > .slide-columns .slick-track > .pimcore_block_entry,
.toolbox-slide-columns > .row > .slide-columns .pimcore_tag_block > .pimcore_block_entry {
    display: block;
    float: left;
    clear: none;
}

.toolbox-slide-columns > .row > .slide-columns.slide-elements-2 .slick-track > .pimcore_block_entry,
.toolbox-slide-columns > .row > .slide-columns.slide-elements-2 .pimcore_tag_block > .pimcore_block_entry {
    width: 49%;
}

.toolbox-slide-columns > .row > .slide-columns.slide-elements-3 .slick-track > .pimcore_block_entry,
.toolbox-slide-columns > .row > .slide-columns.slide-elements-3 .pimcore_tag_block > .pimcore_block_entry {
    width: 33%;
}

.toolbox-slide-columns > .row > .slide-columns.slide-elements-4 .slick-track > .pimcore_block_entry,
.toolbox-slide-columns > .row > .slide-columns.slide-elements-4 .pimcore_tag_block > .pimcore_block_entry {
    width: 24%;
}

.toolbox-slide-columns > .row > .slide-columns.slide-elements-6 .slick-track > .pimcore_block_entry,
.toolbox-slide-columns > .row > .slide-columns.slide-elements-6 .pimcore_tag_block > .pimcore_block_entry {
    width: 15%;
}

/**

    Toolbox Image

**/
.toolbox-image {
    min-height: 100px;
}

/**

    Toolbox Teaser

**/
.toolbox-teaser {

}

/**

    Toolbox Teaser Snippet

**/
.snippet-selector {

}

.snippet-selector label {
    float: left;
    padding: 7px 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 200px;
}

/**

    Toolbox Spacer

**/
.toolbox-spacer {
    position: relative;
    height: 50px;
    width: 100%;
    border: 1px solid #e6e6e6;
    background-color: #dcdcdc;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px);
}

.toolbox-spacer:before {

    content: attr(data-type);
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;

    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    font-size: 12px;
    overflow: hidden;
    color: #8e8e8e;
    font-weight: bold;
    line-height: 27px;

}

.toolbox-spacer span {
    display: none !important;
}

/**

    Toolbox Parallax Container

**/
.toolbox-parallax-container {
    background: rgba(242, 242, 242, 0.5);
    border: 1px dashed #d6d6d6;
    padding: 5px;
}

.toolbox-parallax-container .toolbox-container {
    margin: 10px;
    background: rgba(255, 255, 255, 0.5);
}

.toolbox-parallax-container .parallax-content > .pimcore_tag_block {
    margin: 10px;
}

.toolbox-parallax-container .toolbox-columns {
    margin: 10px;
}

.toolbox-parallax-container .toolbox-columns .toolbox-column {

    background: rgba(255, 255, 255, 0.5);
    border: 1px dashed #d6d6d6;
    padding: 2px;

}

.toolbox-parallax-container .toolbox-container .toolbox-columns {
    margin: 0;
}

.toolbox-parallax-container .toolbox-container .toolbox-columns .toolbox-column {

    background: rgba(242, 242, 242, 0.5);
    border: 1px dashed #d6d6d6;
    padding: 10px;

}

/* some default values for parallax */
.toolbox-parallax-container.parallax-section {
    height: auto !important;
    overflow: visible !important;
}

/**

    Toolbox Googlemap Container

**/
.toolbox-googlemap-container {

}

.toolbox-google-map .pimcore_area_edit_button {
    top: -35px !important;
}

/**
##
##      ---------------------------------------
##      ONLY TOOLBOX INTERNAL STUFF DOWN THERE!
##      ---------------------------------------
##
**/

/**

    Toolbox Defaults

**/
.pimcore_area_entry .pimcore_area_edit_button,
.pimcore_tag_area .pimcore_area_edit_button {
    top: -25px !important;
}

.pimcore_tag_button .pimcore_edit_link_button {
    width: auto !important;
}

/**

    Toolbox .toolbox-element-window Overlay Defaults

**/
.alert-info {
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    background-color: #d9edf7;
    color: #31708f;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #bce8f1;
    border-radius: 0;
}

.alert-danger {
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ebccd1;
    border-radius: 0;
}

/** Fix Pimcore Bug: If Toolbar is above .pimcore_iframe_mask, z-index will catch accessibility. **/
.pimcore_iframe_mask {
    z-index: 199 !important;
}

.toolbox-element-edit-button {
    position: relative;
    display: block;
    margin: 3px 0 0 0;
    padding: 4px;
    background: #7b7b7b;
    opacity: .8;
    -webkit-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.toolbox-element-edit-button.no-interaction {
    height: 35px;
}

.toolbox-element-edit-button:before {
    content: attr(data-title);
    position: absolute;
    right: 0;
    padding: 4px 30px 0 0;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: #bfbfbf;

}

.toolbox-element-edit-button:hover {
    opacity: 1;
}

.toolbox-element-edit-button .x-btn-default-small {
    border-color: transparent;
    background: #000;
    padding: 5px 7px 4px 7px;
    border-radius: 2px;
}

.toolbox-element-edit-button .x-btn-default-small .x-btn-inner-default-small {
    color: white;
}

.toolbox-element-window {
}

/* move window element out of scope, because display none won't work because of extjs rendering issues */
.toolbox-element-window-hidden {
    visibility: hidden;
    position: absolute;
    top: -50000px;
    left: -50000px;
}

.toolbox-edit-overlay label {
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding-right: 10px;
}

.toolbox-edit-overlay {
    min-height: 150px; /* always force min height! */
    margin: 0;
}

.x-window:not(.grid-adjuster-active) .toolbox-edit-overlay.small {
    max-width: 560px;
}

.x-window:not(.grid-adjuster-active) .toolbox-edit-overlay.large {
    max-width: 760px;
}

.toolbox-edit-overlay .t-row {

    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px dashed #d8d8d8;

}

.toolbox-edit-overlay .t-row:empty {
    display: none;
}

.toolbox-edit-overlay .t-row.editmode-hidden,
.toolbox-edit-overlay .t-row .toolbox-element > .editmode-hidden {
    display: none;
}

.toolbox-edit-overlay .t-row:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

.toolbox-edit-overlay .t-row .x-form-type-checkbox {
    position: relative;
    top: 12px;
    left: 5px;
}

.toolbox-edit-overlay .t-row .t-col-full {
    float: none;
    width: 100%;
    position: relative;
    min-height: 1px;
}

.toolbox-edit-overlay .t-row .t-col-half {
    float: left;
    width: 50%;
    position: relative;
    min-height: 1px;
}

.x-window:not(.grid-adjuster-active) .toolbox-edit-overlay.large .t-row .pimcore_editable .x-panel-default {
    width: 760px;
}

.x-window:not(.grid-adjuster-active) .toolbox-edit-overlay.small .t-row .pimcore_editable .x-panel-default {
    width: 560px;
}

.toolbox-edit-overlay .pimcore_tag_input {
    border: 1px solid #b7b7b7;
    padding: 5px;
    box-shadow: none;
    display: block !important;
}

.toolbox-edit-overlay .t-row .description {
    display: block;
    margin: 10px 0;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    font-size: 13px;
    line-height: 20px;
    background: #f7f7f7;
    padding: 10px;
    border: 1px solid #eee;
}

.toolbox-edit-overlay .t-row .pimcore_tag_select {
    display: block;
}

/**

    Extjs Dropdowns list to default

**/
ul.x-list-plain {
    display: block !important;
}

ul li.x-boundlist-item {
    list-style: inherit;
    background: inherit;
    margin: inherit;
    line-height: 30px;
    padding: 0 0 0 10px !important;
    display: block !important;
}

ul li.x-boundlist-item:before {
    content: none;
}

ul li.x-boundlist-item:hover {
    color: inherit;
}

ul li.x-boundlist-selected {
    color: #fff;
    background: #3c3f41;
    border-color: #3c3f41;
}

ul li.x-boundlist-item-over {
    color: #404040;
    border-color: transparent;
    background: #dfe6ec;
}

ul li.x-boundlist-selected.x-boundlist-item-over {
    color: #fff;
    background: #404040;
}

/* only in single edit mode */

body > .single-teaser {
    max-width: 250px;
}

body > .single-teaser img {
    max-width: 100%;
}

/* Override theme tridon stuff */
.x-panel-body-default {
    font-family: inherit;
    background: transparent;
}

.toolbox-parallax-container .editmode-label {
    position: relative;
    z-index: 3;
}

/* Snippet */
.toolbox-snippet .x-panel-body-default .x-autocontainer-outerCt {
    overflow: hidden !important;
}

/* Modal Fix */
.toolbox-modal-open {
    overflow: hidden;
}