<div class="parallax-background {{ backgroundColorClass }}" {{ backgroundTags|raw }}></div>
<div class="parallax-content-wrapper">
    {% include toolbox_area_path(areaId, areaTemplateDirectory, 'partial/parallax_content') with {
    'behindElements' : behindElements,
    'frontElements' : frontElements,
    'sectionContent' : sectionContent
    } %}
</div>
