{% import '@Toolbox/Macro/wrap.html.twig' as wrap_macro %}
{{ elementConfigBar|raw }}
<div class="toolbox-element toolbox-google-map {{ pimcore_select('addlCls').getData() }}">
    {{ wrap_macro.createWrapHead(elementThemeConfig) }}
    {% include toolbox_area_path(areaId) with {
        'mapZoom': pimcore_numeric('mapZoom').getData(),
        'mapType': pimcore_select('mapType').getData(),
        'iwOnInit': pimcore_checkbox('iwOnInit').isChecked()
    } %}
    {{ wrap_macro.createWrapFoot(elementThemeConfig) }}
</div>