{% import '@Toolbox/Macro/wrap.html.twig' as wrap_macro %}
{{ elementConfigBar|raw }}
<div class="toolbox-element toolbox-google-map {{ pimcore_select('add_classes').getData() }}">
    {{ wrap_macro.createWrapHead(elementThemeConfig) }}
    {% include toolbox_area_path(areaId) with {
        'mapZoom': pimcore_numeric('map_zoom').getData(),
        'mapType': pimcore_select('map_type').getData(),
        'iwOnInit': pimcore_checkbox('iw_on_init').isChecked()
    } %}
    {{ wrap_macro.createWrapFoot(elementThemeConfig) }}
</div>