{% set additinal_node_classes = config_node_classes|default('') %}
<div class="inline-config-node {{ additinal_node_classes }}">
    {% if item.label is not empty %}
        <span class="inline-config-label"><i class="inline-config-icon"></i>{{ item.label }}</span>
    {% endif %}
    {% if editable is not null %}
        {{ editable|raw }}
    {% endif %}
    {% if item.description is not empty %}
        <span class="inline-config-description">{{ item.description }}</span>
    {% endif %}
</div>