{{ elementConfigBar|raw }}
<div class="toolbox-element toolbox-slide-columns {{ pimcore_select('addlCls').getData() }}{{ equalHeight ? ' equal-height' : '' }}">
    {% include '@Toolbox/Toolbox/slideColumns.html.twig' %}
</div>