{{ elementConfigBar|raw }}
<div class="toolbox-element toolbox-content wysiwyg content-container {{ pimcore_select('columnsAdditionalClasses').getData() }}">
    {% include '@Toolbox/Toolbox/content.html.twig' %}
</div>