{% import '@Toolbox/Macro/wrap.html.twig' as wrap_macro %}
<div class="toolbox-element toolbox-separator {{ additionalClassesData|join(' ') }}">
    {{ wrap_macro.createWrapHead(elementThemeConfig) }}
    {% include toolbox_area_path(areaId) %}
    {{ wrap_macro.createWrapFoot(elementThemeConfig) }}
</div>