{{ elementConfigBar|raw }}
<div class="toolbox-element toolbox-columns type-{{ type }}{{ pimcore_select('columnsAdditionalClasses').getData() }}{{ equalHeight == true ? ' equal-height' : '' }}">
    {% include '@Toolbox/Toolbox/columns.html.twig' %}
</div>