{% if downloads is iterable %}

    <div class="download-list{{ showPreviewImages ? ' show-image-preview' : '' }}">

        <ul class="list-unstyled">

            {% for download in downloads %}

                {% include '@Toolbox/Toolbox/Bootstrap3/Download/Partial/item.html.twig' with {
                    'download': download,
                    'showPreviewImages' : showPreviewImages,
                    'showFileInfo' : showFileInfo,
                } %}

            {% endfor %}

        </ul>

    </div>

{% endif %}
