<div class="toolbox-google-map-container embed-responsive embed-responsive-16by9">
    {{ pimcore_googlemap('googlemap', {
        'reload' : true,
        'mapZoom' : mapZoom,
        'mapType' : mapType,
        'iwOnInit' : iwOnInit
    }) }}
</div>