{{ elementConfigBar|raw }}
<div class="toolbox-element toolbox-parallax-container template-{{ parallaxTemplate }} {{ pimcore_select('parallaxContainerAdditionalClasses').getData() }}">
    {% include '@Toolbox/Toolbox/parallaxContainer.html.twig' %}
</div>