<div class="uk-container {{ containerClass == 'container-fluid' ? 'uk-container-expand' }}">
    {% include '@Toolbox/Helper/areablock.html.twig' with {'name': 'container-block', 'type' : 'container'} %}
</div>